.genai-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .background-img {
    background-image: url("../../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 70vh;
  }
  
  
  .chat-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .chat-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .chat-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
  @media screen and (max-width: 960px) {
    .chat-container {
      max-width: 80%;
    }
  }
  
  .spinner {
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #ff6961;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 960px) {
    .spinner {
      left: 45%;
      width: 10vw;
      height: 10vw;
    }
  }
  