.background-image {
  background-image: url("../../images/bg_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


